body {
  background-image:url("http://s1.bwallpapers.com/wallpapers/2014/03/23/sunrise-high-definition-wallpaper_113544245.jpg");
}

.Constuct {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:500px;
  height:200px;
}

#Under {
  text-align:center;
  color:white;
}
